{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="{% static 'img/logo.png' %}">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>Authentication</title>
</head>
<body>

    
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{ message }}

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    
    <h2>Sign Up</h2>
    <form action="/signup" method="post"> 
        {% csrf_token %}
        <label for="">UserName:-</label>
        <input type="text" id="username" name="username" placeholder="Create a username(only Letters and number)" required>
        <br>
        <label for="">First Name:-</label>
        <input type="text" id="firstname" name="fname" placeholder="Enter your firstname" required>
        <br>
        <label for="">Last Name:-</label>
        <input type="text" id="lastname" name="lname" placeholder="Enter your lastname" required>
        <br>
        <label for="">Email Address:-</label>
        <input type="email" id="emailaddress" name="email" placeholder="Enter your email address" required>
        <br>
        <label for="">Password:-</label>
        <input type="password" id="password" name="pass1" placeholder="Create a password(only Letters and number)" required>
        <br>
        <label for="">Confirm Password:-</label>
        <input type="password" id="password" name="pass2" placeholder="Create a password(only Letters and number)" required>
        <br>
        <button type="submit">Sign Up</button>
        <br>
    </form>
</body>
</html>